<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=UnifrakturCook:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="/js/jquery.imagesloaded.min.js"></script>
    <script type="text/javascript" src="/js/modernizr.js"></script>
<script>

$(function(){
  $('#container').masonry({
    // options
    isAnimated: true,
    duration: 400,
    isFitWidth: true,
    itemSelector : '.item',
    columnWidth : 280
  });
});

</script>
  </head>
  <body>
    <div id="header">
      <h1>2012年10月21日</h1>
    </div>


    <%= yield %>
  </body>
</html
