<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>
      The Timeline Times
      <% if @title %><%=h "| @#{@title}" %><% if @page_type %><%=h "'s #{@page_type}" %><% end %><% end %>
    </title>

    <!-- Add jQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/jquery.autopager-1.0.0.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
    
    <!-- Add Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.3" type="text/css" media="screen" />
    <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.3"></script>

    <!-- fancybox: Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

    <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>    

    <!-- Add timeline-times.css & timeline-times.js -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/the-timeline-times.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">The TIMELINE TIMES</a>
          <ul class="nav pull-right">
            <li class="visible-tablet visible-desktop display-mode-switcher">
              <a href="#" class="image-mode-switch">
                <b class="icon-th icon-white"></b></a></li>
            <li class="visible-tablet visible-desktop display-mode-switcher">
              <a href="#" class="detail-mode-switch">
                <b class="icon-list icon-white"></b></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                メニュー
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="visible-phone">
                  <a href="#" class="image-mode-switch">
                    <b class="icon-th"></b> 画像モード</a></li>
                <li class="visible-phone">
                  <a href="#" class="detail-mode-switch">
                    <b class="icon-list"></b> 詳細モード</a></li>
                <li class="divider visible-phone"></li>
                <li><a href="/home/config"><b class="icon-cog"></b> 個人設定</a></li>                
                <li><a href="/about_this_service"><b class="icon-info-sign"></b> このサービスについて</a></li>
                <li class="divider"></li>
                <% if login? %>
                <li><a href="/logout">ログアウト</a></li>
                <% else %>
                <li><a href="/auth/twitter">ログイン</a></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
