<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>
      The Timeline Times
      <% if @title %><%=h "| @#{@title}" %><% if @page_type %><%=h "'s #{@page_type}" %><% end %><% end %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!--    <script type="text/javascript" src="/js/the-timeline-times.js"></script> -->
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">The TIMELINE TIMES</a>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                メニュー
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/setting">設定</a></li>
                <li class="divider"></li>
                <li><a href="/about_this_service">このサービスについて</a></li>
                <li class="divider"></li>
                <% if login? %>
                <li><a href="/logout">ログアウト</a></li>
                <% else %>
                <li><a href="/auth/twitter">ログイン</a></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
