body{
    background-image: url('/css/image/background.jpg');
    background-attachment: fixed;
}
.navbar-fixed-top .navbar-inner{
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-fixed-top .navbar-inner a i{
    margin-top: 2px;
}

.header{
    margin: 90px auto 70px auto;
}
.header h1{
    margin: 0px auto;
    text-align: center;
/*    font-family: 'UnifrakturCook', cursive;*/
    font-size: 64px;
    line-height: 1;
    
    color: #ddd;
    text-shadow: 1px 1px white, -1px -1px #444;
}


#container{
/*    max-width: 1200px; */
    margin: 0px auto;
    padding: 10px;
    padding-right: 0px;
    background-color: rgba(204,204,204, 0.7);
    border-radius: 10px;
    border-width: 13px;
    border-color:  transparent;
    border-style: solid;
}

.item {
  width: 260px;
  margin: 0px auto 20px;
  border: 0px double #666;
  float: left;
  background-color: #eaeaea;
  border-radius: 8px;
}

.item.collum2{
  width: 540px;
}
.item.collum3{
  width: 820px;
}
.item.collum4{
  width:1100px;    
}
.item p{
    clear: both;
    padding: 5px 10px;
}
.item img{
    display: block;
    margin: 0px auto 10px auto;
    
}

.item ul{
    background-color: #fff;
    margin: 0px;
}

.item ul li{
    padding: 7px 10px;
    border: 1px #ccc dashed;
    border-width: 0px 0px 1px 0px;
    list-style: none;
}
.item ul li p{
    padding: 0px;
    clear: none;
    margin-left: 45px;
}
.item ul li p.date{
    text-align: right;
    color: #999;
    font-size:small;
    padding-top: 5px;
}

.item ul li img{
    display: block;
    float: left;
}

.footer{
    margin: 50px 0px;
}
.footer a#next.btn{
    display: block;
    width: 100%;
}