@charset "utf-8";

/* global
------------------------- */
body{
}

#sidemenu {
    position: fixed;
}

article{
/*    padding: 13px 0px 8px 0px;
    border-radius: 10px;
    margin-bottom: 13px;
    background-image: url('/css/image/fabric.png');*/
    background-color: #fff;
    margin-bottom: 20px;
}

article h3{
    border: 0px #08c solid;
    border-width: 0px 0px 0px 5px;
    padding: 9px 0px 3px 5px;
    margin-bottom: 5px;
    line-height: 1.2;
}
article .article-image-container{
    overflow: hidden;
}

article .article-image-container h3{
    display: none;
}
article .tweet-list{
    list-style: none;
    margin-left: 0px;
    padding-left: 7px;
}
article .tweet img{
    float: left;
}
article .tweet-list p{
    margin-left: 42px;
    padding-left: 3px;
}
article .tweet .date{
    text-align: right;
}
article .footer{
    clear:left;
    text-align: right;
}

.container-fluid .full-width{
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* index
------------------------- */
#index .row-fluid{
    margin-bottom: 20px;
}

#index .row-fluid [class*="span"]{
}

#index .row-fluid .thumbnails .thumbnail{
    background-color: #fff;
}

#index .footer{
    color: #eee;
    background-image: url('/css/image/background.png');
    box-shadow: inset 0 10px 8px #333;
    padding-top: 20px;
    padding-bottom: 40px;
}
#index .footer .row-fluid [class*="span"]{
    background-color: transparent;
}

/* home
------------------------- */

/* home
   .image-mode
------------------------- */
.image-mode article{
    overflow: hidden;
}

.image-mode article:nth-child(4n+1){
    margin-left: 0px;
}

.image-mode article h3{
    display: none;
}
.image-mode article .article-image-container{
    background-color: #fff;
    position: relative;
    overflow: hidden;
    width: 100%; !important
}
.image-mode article .article-image-container h3{
    font-size: 20px;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 5px;
    margin-bottom: 0px;
    border: 0px #000 solid;
    border-width: 2px 0px 0px 0px;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
 }
.image-mode article .tweet-list{
    display: none;
}




/* fancybox
------------------------- */
.fancybox-inner .navbar.navbar-fixed-top {
    display: none;
}
.fancybox-inner .container-fluid .row-fluid .span12{
    width: 80%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.fancybox-inner .container-fluid .row-fluid article{
    background-color: transparent;
}

.fancybox-outer .fancybox-nav{
    width: 20%;
}
.fancybox-outer .fancybox-nav.fancybox-next{
    right: -10%;
}
.fancybox-outer .fancybox-nav.fancybox-prev{
    left: -10%;
}


/* Responsive
-------------------------------------------------- */
/* Desktop large
------------------------- */
@media (min-width: 1200px) {
    body{
        padding-top: 60px;
    }
    #sidemenu {
        width: 270px;
    }
    .navbar-fixed-top{
        margin-bottom: 10px;
    }
    h3{
        font-size: 28px;
    }
    article .article-image-container{
        width: 300px;
        float: left;
    }
    article .tweet-list{
        margin-left: 300px;
    }
}

/* Desktop
------------------------- */
@media (min-width: 980px) and (max-width: 1199px) {
    body{
        padding-top: 60px;
    }
    #sidemenu {
        width: 222px;
    }
    h3{
        font-size: 24px;
    }
    article .article-image-container{
        width: 240px;
        float: left;
    }
    article .tweet-list{
        margin-left: 240px;
    }

    #article-detail .offset2{
        margin-left: 17.094017094017094%;
    }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 780px) and (max-width: 979px) {
    body{
        padding-top: 0px;
    }
    #sidemenu {
        width: 170px;
    }
    h3{
        font-size: 22px;
    }
    article .article-image-container{
        width: 180px;
        float: left;
    }
    article .tweet-list{
        margin-left: 180px;
    }

}

/* Tablet 
------------------------- */
@media (min-width: 480px) and (max-width: 779px) {
    #sidemenu {
        position: static;
    }
    body{
        padding-top: 0px;
    }
    h3{
        font-size: 18px;
    }
    article .article-image-container{
        width: 160px;
        float: left;
    }
    article .tweet-list{
        margin-left: 160px;
    }
}

/* Smart phone
------------------------- */
@media (max-width: 479px) {
    #sidemenu {
        position: static;
    }
    article a{
        display: block;
    }
    article h3{
        display: none;
        margin-bottom: 0px;
    }
    article .article-image-container{
        position: relative;
        overflow: hidden;
    }
    article .article-image-container .article-image{
        width: 100%;
    }
    article .article-image-container h3{
        font-size: 20px;
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 5px;
        border: 0px #000 solid;
        border-width: 2px 0px 0px 0px;
        background-color: rgba(0,0,0,0.75);
        color: #fff;
    }
    article .tweet-list{
        padding-top: 3px;
        padding-left: 0px;
    }
}